<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">

	<display-name>ewcms_v3</display-name>

	<!-- Spring ApplicationContext配置文件的路径,可使用通配符，用于后面的Spring Context Loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/applicationContext.xml
			classpath*:/applicationContext-import.xml
		</param-value>
	</context-param>

	<!-- 设定Spring Context的默认Profile -->
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>production</param-value>
	</context-param>

	<!--Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Shiro Security filter -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- Spring MVC Servlet -->
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/ewcms-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 验证码 -->
	<servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.ewcms.web.servlet.ImageCaptchaServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/checkcode.jpg</url-pattern>
	</servlet-mapping>

	<!-- 资源 -->
	<servlet>
		<servlet-name>resource</servlet-name>
		<servlet-class>com.ewcms.web.servlet.ResourceServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>resource</servlet-name>
		<url-pattern>/pub_res/*</url-pattern>
	</servlet-mapping>

	<!-- 问卷调查 -->
	<servlet>
		<servlet-name>voteSubmit</servlet-name>
		<servlet-class>com.ewcms.content.vote.web.SubmitServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>voteSubmit</servlet-name>
		<url-pattern>/submit.vote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>voteView</servlet-name>
		<servlet-class>com.ewcms.content.vote.web.ViewServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>voteView</servlet-name>
		<url-pattern>/view.vote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>voteResult</servlet-name>
		<servlet-class>com.ewcms.content.vote.web.ResultServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>voteResult</servlet-name>
		<url-pattern>/result.vote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>visit</servlet-name>
		<servlet-class>com.ewcms.web.servlet.VisitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>visit</servlet-name>
		<url-pattern>/visit</url-pattern>
	</servlet-mapping>

	<!-- Open Entity Manager in View filter -->
	<!-- 
	<filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	 
	<!-- Filter 定义 -->

	<!-- Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- Cache Control Header filter -->
	<!-- <filter> <filter-name>cacheControlHeaderFilter</filter-name> <filter-class>com.ewcms.web.filter.CacheControlHeaderFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>cacheControlHeaderFilter</filter-name> 
		<url-pattern>/static/*</url-pattern> </filter-mapping> -->

	<!-- <filter> <filter-name>error404Filter</filter-name> <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		<init-param> <param-name>targetBeanName</param-name> <param-value>error404Filter</param-value> 
		</init-param> <init-param> <param-name>targetFilterLifecycle</param-name> 
		<param-value>true</param-value> </init-param> </filter> <filter-mapping> 
		<filter-name>error404Filter</filter-name> <url-pattern>/*</url-pattern> <dispatcher>REQUEST</dispatcher> 
		<dispatcher>FORWARD</dispatcher> </filter-mapping> -->

	<filter>
		<filter-name>previewFilter</filter-name>
		<filter-class>com.ewcms.web.filter.PreviewFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>previewFilter</filter-name>
		<url-pattern>/template/preview</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
</web-app>